<%- include('partials/headerlogin') -%>

    <section>
        <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el => { %>
                <div class="alert alert-danger"><%= el.msg %></div>
            <% }) %>    
        <% } %>
        <% if (locals.messages.info) { %>
            <% messages.info.forEach( el => { %>
                <div class="alert alert-danger"><%= el.msg %></div>
            <% }) %>    
        <% } %>
        <form class="signUpForm" action="/login" method="POST">
            <fieldset class="email">
              <input placeholder="Email" type="email" name="email"/>
            </fieldset>
            <fieldset class="password">
              <input placeholder="Password" type="password" name="password"/>
            </fieldset>
            <button class="button" role="submit">
              <div class="fa fa-sign-in"></div>
            </button>
    </section>
<%- include('partials/footer') -%>