<%- include('partials/header') -%>
    <section class="formSection">
            <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el => { %>
                <div class="alert alert-danger"><%= el.msg %></div>
            <% }) %>    
        <% } %>
        <!-- <form class="signUpForm" action="/signup" method="POST">
            <input type="text" name="userName" placeholder="Username">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="confirmPassword" placeholder="Confirm Password">
            <input type="submit">
        </form> -->
        <form class="signUpForm" action="/signup" method="POST">
            <fieldset class="user">
              <input placeholder="Username" type="text" name="userName"/>
            </fieldset>
            <fieldset class="email">
              <input placeholder="Email" type="email" name="email"/>
            </fieldset>
            <fieldset class="password">
              <input placeholder="Password" type="password" name="password"/>
            </fieldset>
            <fieldset class="password">
                <input placeholder="Confirm Password" type="password" name="password"/>
              </fieldset>
            <button class="button" role="submit">
              <div class="fa fa-sign-in"></div>
            </button>
        </form>
    </section>
<%- include('partials/footer') -%>