.test{
    list-style: none;
}
body{
    background: black;
    color:white;
}
#wow{
    color: red;

}
a{
    display: flex;
    justify-content: flex-end;
    color:white;

}
.coinImages{
    width: 20px;

}